In [12]:
import pandas as pd
import numpy as np

data=pd.read_csv('hw2_question1.csv')

In [13]:
data.describe()

,5,1,1.1,1.2,2,1.3,3,1.4,1.5,2.1
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,4.441349,3.153959,3.218475,2.832845,3.236070,3.548387,3.445748,2.872434,1.604106,2.700880
std,2.822751,3.066285,2.989568,2.865805,2.224214,3.645226,2.451435,3.054065,1.733792,0.954916
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [14]:
data.head()

   5   1  1.1  1.2  2  1.3  3  1.4  1.5  2.1
0  5   4    4    5  7   10  3    2    1    2
1  3   1    1    1  2    2  3    1    1    2
2  6   8    8    1  3    4  3    7    1    2
3  4   1    1    3  2    1  3    1    1    2
4  8  10   10    8  7   10  9    7    1    4

In [15]:
#let us find the number of samples belonging to benign and the number belonging to malignant
n_data=len(data)

n_benign=sum(data['2.1']==2)
n_malignant=sum(data['2.1']==4)
print('The number of benign samples : ',n_benign,'The number of malignant samples : ',n_malignant)

#the two classes are not equally represented in the data

The number of benign samples :  443 The number of malignant samples :  239

In [16]:
#now let us make a train test split making sure to maintain class ratios in train and test

train_ratio=2/3
test_ratio=1/3

n_train_b=train_ratio*n_benign
n_test_b=train_ratio*n_benign

n_train_m=train_ratio*n_malignant
n_test_m=train_ratio*n_malignant

train=pd.DataFrame()
test=pd.DataFrame()

benign_count=0
malig_count=0

#let us keep track of indices for splitting 
for i in range (n_data):
    if(data['2.1'][i]==2):
        if (benign_count<n_train_b):
            train=train.append(data.loc[i])
            benign_count+=1
        else: test=test.append(data.loc[i])
    elif(data['2.1'][i]==4):
        if(malig_count<n_train_m):
            train=train.append(data.loc[i])
            malig_count+=1
        else: test=test.append(data.loc[i])

In [17]:
train.head()

      1   1.1  1.2   1.3  1.4  1.5    2  2.1    3    5
0   4.0   4.0  5.0  10.0  2.0  1.0  7.0  2.0  3.0  5.0
1   1.0   1.0  1.0   2.0  1.0  1.0  2.0  2.0  3.0  3.0
2   8.0   8.0  1.0   4.0  7.0  1.0  3.0  2.0  3.0  6.0
3   1.0   1.0  3.0   1.0  1.0  1.0  2.0  2.0  3.0  4.0
4  10.0  10.0  8.0  10.0  7.0  1.0  7.0  4.0  9.0  8.0

In [18]:
train.describe()

,1,1.1,1.2,1.3,1.4,1.5,2,2.1,3,5
count,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000
mean,3.013158,3.129386,2.717105,3.642544,2.881579,1.660088,3.293860,2.701754,3.333333,4.416667
std,2.868518,2.856789,2.726551,3.650902,2.973733,1.803728,2.323612,0.955537,2.145956,2.923506
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,4.000000
75%,4.000000,5.000000,3.000000,7.000000,4.000000,1.000000,4.000000,4.000000,4.000000,6.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000,10.000000,10.000000

In [19]:
test.describe()

,1,1.1,1.2,1.3,1.4,1.5,2,2.1,3,5
count,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000
mean,3.438053,3.398230,3.066372,3.358407,2.853982,1.491150,3.119469,2.699115,3.672566,4.491150
std,3.419963,3.240137,3.121256,3.634385,3.216749,1.581114,2.008620,0.955777,2.966307,2.613199
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,3.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,4.000000
75%,6.000000,5.750000,4.000000,5.000000,3.750000,1.000000,4.000000,4.000000,7.000000,5.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000,10.000000,10.000000

In [193]:
# now we must implement a decision tree on the train data
class node:
    def __init__(self,attribute=None,threshold=None,label=None,left=None,right=None,root=False):
        self.attribute=attribute
        self.threshold=threshold
        self.label=label
        self.left=left
        self.right=right
        self.root=root

In [194]:
def node_entropy1(m_node,X_train,root_node):
    nm=0
    nb=0
    for i in range(len(X_train)):
        p=root_node
        #go till leaf
        while (p.left!=None or p.right!=None):
            if (X_train.iloc[i][p.attribute]>p.threshold):
                p=p.right
            else:
                p=p.left
        if p==m_node:
            if X_train.iloc[i]['2.1']==2:
                 nb+=1
            else:
                nm+=1    
    if nb!=0 and nm!=0:
        ent=-(nb/(nb+nm)*np.log(nb/(nb+nm))+nm/(nb+nm)*np.log(nm/(nb+nm)))
    else:
        ent=0
    if(nb<nm):
        m_node.label='Malignant'
    else:
        m_node.label='Benign'
    print('label : ',m_node.label,'n_b : ',nb,'n_m',nm,'entropy : ',ent)
    return ent,nb+nm

In [208]:
def node_entropy2(m_node,X_train,root_node):
    nm=0
    nb=0
    for i in range(len(X_train)):
        p=root_node
        #go till leaf
        while (p.left!=None or p.right!=None):
            if (X_train.iloc[i][p.attribute]>p.threshold):
                p=p.right
            else:
                p=p.left
        if p==m_node:
            if X_train.iloc[i]['2.1']==2:
                 nb+=1
            else:
                nm+=1    
    if nb!=0 and nm!=0:
        ent=(2*nb/(nb+nm)*(1-nb/(nb+nm)))
    else:
        ent=0
    if(nb<nm):
        m_node.label='Malignant'
    else:
        m_node.label='Benign'
    print('label : ',m_node.label,'n_b : ',nb,'n_m',nm,'entropy : ',ent)
    return ent,nb+nm

In [196]:
def split_entropy1(s_node,X_train,root_node,attribute,threshold):
    nm1=0
    nb1=0
    nm2=0
    nb2=0
    #pdb.set_trace()
    for i in range(len(X_train)):
        p=root_node
        #go till leaf
        while (p.left!=None or p.right!=None):
            if (X_train.iloc[i][p.attribute]>p.threshold):
                p=p.right
            else:
                p=p.left
        if p==s_node:
            if X_train.iloc[i][attribute]>threshold:
                if X_train.iloc[i]['2.1']==2:
                     nb1+=1
                else:
                    nm1+=1
                p=p.right
            else:
                if X_train.iloc[i]['2.1']==2:
                       nb2+=1
                else:
                    nm2+=1
                p=p.left
    #pdb.set_trace()
    n_branch1=nb1+nm1
    n_branch2=nb2+nm2
    if n_branch1!=0 and n_branch2!=0:
        n_node=n_branch1+n_branch2
        s_ent1=-(n_branch1/n_node)*(nb1/n_branch1*np.log(nb1/n_branch1)+nm1/n_branch1*np.log(nm1/n_branch1))  
        s_ent2=-(n_branch2/n_node)*(nb2/n_branch2*np.log(nb2/n_branch2)+nm2/n_branch2*np.log(nm2/n_branch2))
        s_ent=s_ent1+s_ent2
    else:
        s_ent=1000
    return s_ent

In [207]:
def split_entropy2(s_node,X_train,root_node,attribute,threshold):
    nm1=0
    nb1=0
    nm2=0
    nb2=0
    #pdb.set_trace()
    for i in range(len(X_train)):
        p=root_node
        #go till leaf
        while (p.left!=None or p.right!=None):
            if (X_train.iloc[i][p.attribute]>p.threshold):
                p=p.right
            else:
                p=p.left
        if p==s_node:
            if X_train.iloc[i][attribute]>threshold:
                if X_train.iloc[i]['2.1']==2:
                     nb1+=1
                else:
                    nm1+=1
                p=p.right
            else:
                if X_train.iloc[i]['2.1']==2:
                       nb2+=1
                else:
                    nm2+=1
                p=p.left
    #pdb.set_trace()
    n_branch1=nb1+nm1
    n_branch2=nb2+nm2
    if n_branch1!=0 and n_branch2!=0:
        n_node=n_branch1+n_branch2
        s_ent1=(n_branch1/n_node)*(2*nb1/n_branch1*(1-nb1/n_branch1))  
        s_ent2=(n_branch2/n_node)*(2*nb2/n_branch2*(1-nb2/n_branch2))
        s_ent=s_ent1+s_ent2
    else:
        s_ent=1000
    return s_ent

In [198]:
def acc(root_node,X_train):
    n_corr=0
    for i in range(len(X_train)):

        p=root_node
        #go till leaf
        while (p.left!=None or p.right!=None):
            if (X_train.iloc[i][p.attribute]>p.threshold):
                p=p.right
            else:
                p=p.left
        if X_train.iloc[i]['2.1']==2:
            if p.label=='Benign':
                n_corr+=1
        else:
            if p.label=='Malignant':
                n_corr+=1
    
    return n_corr/len(X_train)

In [199]:
def gen_tree1(curr_node,root_node,X_train,atts):
    #pdb.set_trace()
    global n_nodes
    n_nodes+=1
    print('acc : ',acc(root_node,X_train),'No of Nodes : ',n_nodes)
    n_ent,n_node=node_entropy1(curr_node,X_train,root_node)
    if n_ent<.2 or n_node<1 or len(atts)==0:
        return root_node
    else:
        att,thresh=split_att1(curr_node,X_train,root_node,atts)
        atts.remove(att)
        curr_node.threshold=thresh
        curr_node.attribute=att
        left_node=node()
        right_node=node()
        curr_node.left=left_node
        curr_node.right=right_node
        gen_tree1(left_node,root_node,X_train,atts)
        gen_tree1(right_node,root_node,X_train,atts)
        return root_node

In [200]:
def gen_tree2(curr_node,root_node,X_train,atts):
    #pdb.set_trace()
    global n_nodes
    n_nodes+=1
    print('acc : ',acc(root_node,X_train),'No of Nodes : ',n_nodes)
    n_ent,n_node=node_entropy2(curr_node,X_train,root_node)
    if n_ent<.2 or n_node<1 or len(atts)==0:
        return root_node
    else:
        att,thresh=split_att2(curr_node,X_train,root_node,atts)
        atts.remove(att)
        curr_node.threshold=thresh
        curr_node.attribute=att
        left_node=node()
        right_node=node()
        curr_node.left=left_node
        curr_node.right=right_node
        gen_tree2(left_node,root_node,X_train,atts)
        gen_tree2(right_node,root_node,X_train,atts)
        return root_node

In [201]:
def split_att1(curr_node,X_train,root_node,atts):
    min_ent=100
    thresh_i=1
    thresh=thresh_i
    best_att=atts[0]
    #pdb.set_trace()

    for att in atts:
        for thresh_i in range(1,11):
            e=split_entropy1(curr_node,X_train,root_node,att,thresh_i)
            if e<min_ent:
                min_ent=e
                thresh=thresh_i
                best_att=att
    return best_att,thresh

In [202]:
def split_att2(curr_node,X_train,root_node,atts):
    min_ent=100
    thresh_i=1
    thresh=thresh_i
    best_att=atts[0]
    #pdb.set_trace()

    for att in atts:
        for thresh_i in range(1,11):
            e=split_entropy2(curr_node,X_train,root_node,att,thresh_i)
            if e<min_ent:
                min_ent=e
                thresh=thresh_i
                best_att=att
    return best_att,thresh

In [205]:
n_nodes=0
import copy as cp
import pdb
def st():
    X_train=cp.copy(train)
    root_node1=node()
    root_node1.root=True
    cols=list(X_train.columns)
    root_node=gen_tree1(root_node1,root_node1,X_train,cols)

st()

acc :  0.0 No of Nodes :  1
label :  Benign n_b :  296 n_m 160 entropy :  0.647987965397

/home/akshay/.local/lib/python3.6/site-packages/ipykernel_launcher.py:33: RuntimeWarning: divide by zero encountered in log
/home/akshay/.local/lib/python3.6/site-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in double_scalars
/home/akshay/.local/lib/python3.6/site-packages/ipykernel_launcher.py:34: RuntimeWarning: divide by zero encountered in log
/home/akshay/.local/lib/python3.6/site-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in double_scalars

acc :  0.0 No of Nodes :  2
label :  Benign n_b :  262 n_m 6 entropy :  0.107192887971
acc :  0.5745614035087719 No of Nodes :  3
label :  Malignant n_b :  34 n_m 154 entropy :  0.472681544699
acc :  0.5745614035087719 No of Nodes :  4
label :  Benign n_b :  24 n_m 13 entropy :  0.648279167364
acc :  0.5745614035087719 No of Nodes :  5
label :  Benign n_b :  23 n_m 1 entropy :  0.173205206749
acc :  0.625 No of Nodes :  6
label :  Malignant n_b :  1 n_m 12 entropy :  0.271189373042
acc :  0.625 No of Nodes :  7
label :  Benign n_b :  0 n_m 0 entropy :  0
acc :  0.625 No of Nodes :  8
label :  Malignant n_b :  1 n_m 12 entropy :  0.271189373042
acc :  0.625 No of Nodes :  9
label :  Malignant n_b :  1 n_m 2 entropy :  0.636514168295
acc :  0.625 No of Nodes :  10
label :  Benign n_b :  1 n_m 0 entropy :  0
acc :  0.6271929824561403 No of Nodes :  11
label :  Malignant n_b :  0 n_m 2 entropy :  0
acc :  0.631578947368421 No of Nodes :  12
label :  Malignant n_b :  0 n_m 10 entropy :  0
acc :  0.6535087719298246 No of Nodes :  13
label :  Malignant n_b :  10 n_m 141 entropy :  0.243763310502
acc :  0.6535087719298246 No of Nodes :  14
label :  Malignant n_b :  9 n_m 51 entropy :  0.422709087806
acc :  0.6535087719298246 No of Nodes :  15
label :  Malignant n_b :  8 n_m 22 entropy :  0.579915171418
acc :  0.6535087719298246 No of Nodes :  16
label :  Malignant n_b :  7 n_m 16 entropy :  0.614503320311
acc :  0.6535087719298246 No of Nodes :  17
label :  Benign n_b :  0 n_m 0 entropy :  0
acc :  0.6535087719298246 No of Nodes :  18
label :  Malignant n_b :  7 n_m 16 entropy :  0.614503320311
acc :  0.6885964912280702 No of Nodes :  19
label :  Malignant n_b :  1 n_m 6 entropy :  0.410116318288
acc :  0.7017543859649122 No of Nodes :  20
label :  Malignant n_b :  1 n_m 29 entropy :  0.146144746009
acc :  0.7653508771929824 No of Nodes :  21
label :  Malignant n_b :  1 n_m 90 entropy :  0.0604982941023

In [209]:
n_nodes=0
import copy as cp
import pdb
def st():
    X_train=cp.copy(train)
    root_node2=node()
    root_node2.root=True
    cols=list(X_train.columns)
    root_node=gen_tree2(root_node2,root_node2,X_train,cols)

st()

acc :  0.0 No of Nodes :  1
label :  Benign n_b :  296 n_m 160 entropy :  0.4555247768544167
acc :  0.0 No of Nodes :  2
label :  Benign n_b :  296 n_m 0 entropy :  0
acc :  0.6491228070175439 No of Nodes :  3
label :  Malignant n_b :  0 n_m 160 entropy :  0